@use "../../../../styles/m3-theme.scss" as space-travelers-theme;
.selection-form {
  display: flex;
  justify-content: center;
  align-items: center;
  &-content {
    width: 95%;
    margin: 1rem;
    display: flex;
    align-items: center;
  }
}
.pannel-header {
  display: flex;
  flex-wrap: nowrap;
  .step{
    transition: all 300ms;
    white-space: break-spaces;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.pannel-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0.3rem 0.2rem
    map-get(space-travelers-theme.$brand-color, primary);
  margin-bottom: 1rem;
}
.shrinked{
  transform-origin: left;
  transform: scaleX(0);
  opacity: 0;
}
  .field {
    transition: all 300ms;
    &-small {
      flex: 1 2;
    }
    &-large {
      flex: 2 1;
    }
  }
