<div class="card-container"> @for (destination of destinations(); track $index) {
  <mat-card class="destination-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{destination.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="picsUrl + destination.photoRef" [alt]="'Photo de '+  destination.name">
    <mat-card-content>
      <p>
        {{destination.description}}
      </p>
      <p>{{destination.name}} c'est le lieu idéal pour :</p>
      <mat-list>
        @for (activitie of destination.activities; track $index) {
        <mat-list-item>{{activitie}}</mat-list-item>}
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      @if ($index) {
      <button mat-button (click)="foundFlight(destination.name)">Trouvez le prochain vol vers
        {{destination.name}}</button>}
    </mat-card-actions>
  </mat-card>
  }
</div>